In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("nyc-rolling-sales.csv")

In [3]:
#to remove spaces from the column names
dataset.columns = dataset.columns.str.replace('\s+', '_')

In [4]:
print(dataset.head())

   Unnamed:_0  BOROUGH   NEIGHBORHOOD  \
0           4        1  ALPHABET CITY
1           5        1  ALPHABET CITY
2           6        1  ALPHABET CITY
3           7        1  ALPHABET CITY
4           8        1  ALPHABET CITY

                       BUILDING_CLASS_CATEGORY TAX_CLASS_AT_PRESENT  BLOCK  \
0  07 RENTALS - WALKUP APARTMENTS                                2A    392
1  07 RENTALS - WALKUP APARTMENTS                                 2    399
2  07 RENTALS - WALKUP APARTMENTS                                 2    399
3  07 RENTALS - WALKUP APARTMENTS                                2B    402
4  07 RENTALS - WALKUP APARTMENTS                                2A    404

   LOT EASE_MENT BUILDING_CLASS_AT_PRESENT                 ADDRESS  \
0    6                                  C2            153 AVENUE B
1   26                                  C7   234 EAST 4TH   STREET
2   39                                  C7   197 EAST 3RD   STREET
3   21                                  C4     154 EAST 7TH STREET
4   55                                  C2  301 EAST 10TH   STREET

        ...        RESIDENTIAL_UNITS  COMMERCIAL_UNITS  TOTAL_UNITS  \
0       ...                        5                 0            5
1       ...                       28                 3           31
2       ...                       16                 1           17
3       ...                       10                 0           10
4       ...                        6                 0            6

   LAND_SQUARE_FEET  GROSS_SQUARE_FEET YEAR_BUILT TAX_CLASS_AT_TIME_OF_SALE  \
0              1633               6440       1900                         2
1              4616              18690       1900                         2
2              2212               7803       1900                         2
3              2272               6794       1913                         2
4              2369               4615       1900                         2

   BUILDING_CLASS_AT_TIME_OF_SALE  SALE_PRICE        SALE_DATE
0                              C2     6625000   7/19/2017 0:00
1                              C7         -    12/14/2016 0:00
2                              C7         -     12/9/2016 0:00
3                              C4     3936272   9/23/2016 0:00
4                              C2     8000000  11/17/2016 0:00

[5 rows x 22 columns]

In [5]:
#empty column
del dataset['EASE_MENT']
#uneccesary column
del dataset['Unnamed:_0']
#don't need address and apartment_number
del dataset['ADDRESS']
del dataset['APARTMENT_NUMBER']
#total units is sum of residential units and commercial units
del dataset['TOTAL_UNITS']

In [6]:
print(dataset.head())

   BOROUGH   NEIGHBORHOOD                      BUILDING_CLASS_CATEGORY  \
0        1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
1        1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
2        1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
3        1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
4        1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS

  TAX_CLASS_AT_PRESENT  BLOCK  LOT BUILDING_CLASS_AT_PRESENT  ZIP_CODE  \
0                   2A    392    6                        C2     10009
1                    2    399   26                        C7     10009
2                    2    399   39                        C7     10009
3                   2B    402   21                        C4     10009
4                   2A    404   55                        C2     10009

   RESIDENTIAL_UNITS  COMMERCIAL_UNITS LAND_SQUARE_FEET GROSS_SQUARE_FEET  \
0                  5                 0             1633              6440
1                 28                 3             4616             18690
2                 16                 1             2212              7803
3                 10                 0             2272              6794
4                  6                 0             2369              4615

   YEAR_BUILT  TAX_CLASS_AT_TIME_OF_SALE BUILDING_CLASS_AT_TIME_OF_SALE  \
0        1900                          2                             C2
1        1900                          2                             C7
2        1900                          2                             C7
3        1913                          2                             C4
4        1900                          2                             C2

  SALE_PRICE        SALE_DATE
0    6625000   7/19/2017 0:00
1        -    12/14/2016 0:00
2        -     12/9/2016 0:00
3    3936272   9/23/2016 0:00
4    8000000  11/17/2016 0:00

In [7]:
#to replace '-' values with Nan values
dataset.SALE_PRICE = dataset.SALE_PRICE.apply(lambda x: x.strip()).replace('-', np.nan)

In [8]:
dataset.LAND_SQUARE_FEET = dataset.LAND_SQUARE_FEET.apply(lambda x: x.strip()).replace('-', np.nan)
dataset.GROSS_SQUARE_FEET = dataset.GROSS_SQUARE_FEET.apply(lambda x: x.strip()).replace('-', np.nan)

In [9]:
print(dataset.isnull().sum())

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  0
BLOCK                                 0
LOT                                   0
BUILDING_CLASS_AT_PRESENT             0
ZIP_CODE                              0
RESIDENTIAL_UNITS                     0
COMMERCIAL_UNITS                      0
LAND_SQUARE_FEET                  26252
GROSS_SQUARE_FEET                 27612
YEAR_BUILT                            0
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                        14561
SALE_DATE                             0
dtype: int64

In [10]:
#remove all rows with null values
traindata = dataset.dropna(axis = 0)

In [11]:
traindata.shape

(48244, 17)

In [12]:
print(traindata.dtypes)

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING_CLASS_CATEGORY           object
TAX_CLASS_AT_PRESENT              object
BLOCK                              int64
LOT                                int64
BUILDING_CLASS_AT_PRESENT         object
ZIP_CODE                           int64
RESIDENTIAL_UNITS                  int64
COMMERCIAL_UNITS                   int64
LAND_SQUARE_FEET                  object
GROSS_SQUARE_FEET                 object
YEAR_BUILT                         int64
TAX_CLASS_AT_TIME_OF_SALE          int64
BUILDING_CLASS_AT_TIME_OF_SALE    object
SALE_PRICE                        object
SALE_DATE                         object
dtype: object

In [13]:
traindata = traindata.copy()

In [14]:
traindata['BOROUGH'] = pd.Categorical(traindata.BOROUGH)
traindata['NEIGHBORHOOD'] = pd.Categorical(traindata.NEIGHBORHOOD)
traindata['BUILDING_CLASS_CATEGORY'] = pd.Categorical(traindata.BUILDING_CLASS_CATEGORY)
traindata['TAX_CLASS_AT_PRESENT'] = pd.Categorical(traindata.TAX_CLASS_AT_PRESENT)
traindata['BUILDING_CLASS_AT_PRESENT'] = pd.Categorical(traindata.BUILDING_CLASS_AT_PRESENT)
traindata['ZIP_CODE'] = pd.Categorical(traindata.ZIP_CODE)
traindata['TAX_CLASS_AT_TIME_OF_SALE'] = pd.Categorical(traindata.TAX_CLASS_AT_TIME_OF_SALE)
traindata['BUILDING_CLASS_AT_TIME_OF_SALE'] = pd.Categorical(traindata.BUILDING_CLASS_AT_TIME_OF_SALE)
traindata['SALE_PRICE'] = pd.to_numeric(traindata.SALE_PRICE)
traindata['SALE_DATE'] = pd.to_datetime(traindata.SALE_DATE)
traindata['LAND_SQUARE_FEET'] = pd.to_numeric(traindata.LAND_SQUARE_FEET)
traindata['GROSS_SQUARE_FEET'] = pd.to_numeric(traindata.GROSS_SQUARE_FEET)

In [15]:
print(traindata.dtypes)

BOROUGH                                 category
NEIGHBORHOOD                            category
BUILDING_CLASS_CATEGORY                 category
TAX_CLASS_AT_PRESENT                    category
BLOCK                                      int64
LOT                                        int64
BUILDING_CLASS_AT_PRESENT               category
ZIP_CODE                                category
RESIDENTIAL_UNITS                          int64
COMMERCIAL_UNITS                           int64
LAND_SQUARE_FEET                           int64
GROSS_SQUARE_FEET                          int64
YEAR_BUILT                                 int64
TAX_CLASS_AT_TIME_OF_SALE               category
BUILDING_CLASS_AT_TIME_OF_SALE          category
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [16]:
print(traindata.head())

  BOROUGH   NEIGHBORHOOD                      BUILDING_CLASS_CATEGORY  \
0       1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
3       1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
4       1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
6       1  ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
9       1  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS

  TAX_CLASS_AT_PRESENT  BLOCK  LOT BUILDING_CLASS_AT_PRESENT ZIP_CODE  \
0                   2A    392    6                        C2    10009
3                   2B    402   21                        C4    10009
4                   2A    404   55                        C2    10009
6                   2B    406   32                        C4    10009
9                    2    387  153                        D9    10009

   RESIDENTIAL_UNITS  COMMERCIAL_UNITS  LAND_SQUARE_FEET  GROSS_SQUARE_FEET  \
0                  5                 0              1633               6440
3                 10                 0              2272               6794
4                  6                 0              2369               4615
6                  8                 0              1750               4226
9                 24                 0              4489              18523

   YEAR_BUILT TAX_CLASS_AT_TIME_OF_SALE BUILDING_CLASS_AT_TIME_OF_SALE  \
0        1900                         2                             C2
3        1913                         2                             C4
4        1900                         2                             C2
6        1920                         2                             C4
9        1920                         2                             D9

   SALE_PRICE  SALE_DATE
0     6625000 2017-07-19
3     3936272 2016-09-23
4     8000000 2016-11-17
6     3192840 2016-09-23
9    16232000 2016-11-07

In [18]:
#removing outliers in the dataset
traindata = traindata[traindata.SALE_PRICE != 0]
traindata = traindata[traindata.SALE_PRICE != 10]

In [19]:
# Encoding categorical features
for col in traindata.select_dtypes(include=['category']).columns:
    traindata[col] = traindata[col].cat.codes

In [20]:
#finding 
traindata.corr()

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,BUILDING_CLASS_AT_PRESENT,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_PRICE
BOROUGH,1.000000,0.054652,-0.321822,-0.355848,0.197944,-0.192193,-0.281861,0.207727,-0.077700,-0.007066,0.024687,-0.079872,0.150529,-0.317314,-0.284263,-0.084945
NEIGHBORHOOD,0.054652,1.000000,-0.023911,-0.033712,0.124101,0.037479,-0.048754,0.025541,0.001564,-0.002233,0.008774,0.001711,-0.002700,-0.016932,-0.040593,-0.003602
BUILDING_CLASS_CATEGORY,-0.321822,-0.023911,1.000000,0.893446,-0.264272,0.434443,0.661182,-0.124566,0.010385,0.047548,0.045233,0.088338,-0.277350,0.938363,0.678409,0.083813
TAX_CLASS_AT_PRESENT,-0.355848,-0.033712,0.893446,1.000000,-0.284289,0.320614,0.605766,-0.132711,0.047107,0.048367,0.049146,0.115565,-0.152827,0.938620,0.576330,0.103437
BLOCK,0.197944,0.124101,-0.264272,-0.284289,1.000000,-0.168150,-0.263252,0.575476,-0.039841,-0.003426,0.004282,-0.045811,0.090417,-0.241521,-0.263759,-0.059059
LOT,-0.192193,0.037479,0.434443,0.320614,-0.168150,1.000000,0.624707,-0.062875,-0.032558,-0.007940,-0.031751,-0.041961,-0.420652,0.263653,0.656669,-0.014815
BUILDING_CLASS_AT_PRESENT,-0.281861,-0.048754,0.661182,0.605766,-0.263252,0.624707,1.000000,-0.064348,-0.014746,0.032288,0.007348,0.021082,-0.355497,0.526298,0.969436,0.045595
ZIP_CODE,0.207727,0.025541,-0.124566,-0.132711,0.575476,-0.062875,-0.064348,1.000000,-0.054604,-0.001081,-0.021169,-0.074943,0.097261,-0.147639,-0.092893,-0.067405
RESIDENTIAL_UNITS,-0.077700,0.001564,0.010385,0.047107,-0.039841,-0.032558,-0.014746,-0.054604,1.000000,0.012529,0.429926,0.713517,0.020297,0.035969,-0.017375,0.137702
COMMERCIAL_UNITS,-0.007066,-0.002233,0.047548,0.048367,-0.003426,-0.007940,0.032288,-0.001081,0.012529,1.000000,0.051790,0.066006,0.004438,0.058951,0.031372,0.047456
LAND_SQUARE_FEET,0.024687,0.008774,0.045233,0.049146,0.004282,-0.031751,0.007348,-0.021169,0.429926,0.051790,1.000000,0.621388,0.011052,0.066339,0.001051,0.042113
GROSS_SQUARE_FEET,-0.079872,0.001711,0.088338,0.115565,-0.045811,-0.041961,0.021082,-0.074943,0.713517,0.066006,0.621388,1.000000,0.027128,0.136080,0.017772,0.509990
YEAR_BUILT,0.150529,-0.002700,-0.277350,-0.152827,0.090417,-0.420652,-0.355497,0.097261,0.020297,0.004438,0.011052,0.027128,1.000000,-0.185451,-0.438253,0.003862
TAX_CLASS_AT_TIME_OF_SALE,-0.317314,-0.016932,0.938363,0.938620,-0.241521,0.263653,0.526298,-0.147639,0.035969,0.058951,0.066339,0.136080,-0.185451,1.000000,0.534567,0.120068
BUILDING_CLASS_AT_TIME_OF_SALE,-0.284263,-0.040593,0.678409,0.576330,-0.263759,0.656669,0.969436,-0.092893,-0.017375,0.031372,0.001051,0.017772,-0.438253,0.534567,1.000000,0.045056
SALE_PRICE,-0.084945,-0.003602,0.083813,0.103437,-0.059059,-0.014815,0.045595,-0.067405,0.137702,0.047456,0.042113,0.509990,0.003862,0.120068,0.045056,1.000000

In [21]:
#since correlation is very less
del traindata['YEAR_BUILT']
del traindata['NEIGHBORHOOD']

# Training on the data

In [22]:
Y = traindata['SALE_PRICE']
X = traindata.drop('SALE_PRICE', 1)

In [23]:
#can use sale date as a feature by calculating the year difference between build year and sale year
del X['SALE_DATE']

In [24]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    Y,
                                                    test_size=0.2)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [25]:
from sklearn import linear_model
clf = linear_model.LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
y_pred = clf.predict(X_test)

In [27]:
from sklearn import metrics
print(metrics.explained_variance_score(y_test, y_pred))

0.11446144468173569

In [29]:
import xgboost
xgb = xgboost.XGBRegressor()
#traindf, testdf = train_test_split(X_train, test_size = 0.3)
xgb.fit(X_train,y_train)

predictions = xgb.predict(X_test)
print(metrics.explained_variance_score(predictions,y_test))

-0.13424412797881025